Source: pyrime
Section: python
Priority: optional
Maintainer: Wu, Zhenyu <wuzhenyu@ustc.edu>
Uploaders: Wu, Zhenyu <wuzhenyu@ustc.edu>
Build-Depends: cython3,
               debhelper-compat (= 9),
               dh-sequence-python3,
               librime-dev,
               pkg-config,
               pybuild-plugin-pyproject,
               python3,
               python3-mesonpy
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/Freed-Wu/pyrime
Vcs-Git: https://github.com/Freed-Wu/pyrime
Vcs-Browser: https://github.com/Freed-Wu/pyrime

Package: python3-pyrime
Architecture: amd64 arm64 armel armhf i386 mips64el mipsel powerpc s390x
Multi-Arch: foreign
Depends: librime1, ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: rime for python, attached to prompt-toolkit keybindings for some prompt-toolkit applications such as ptpython
